<div id="footer-menu" class="footer-menu-4-icons footer-menu-style-1">
  <!-- 
    1. 주소바꾸기!!
    2. 아이콘 바꿀 경우 :
       fonts/css/fontawesome-all.min.css의 fa-search / fa-home / fa - settings : before content 바꾸기 
  -->

  <!-- 내 위치 및 근처 키퍼 위치 정보 페이지 -->
  <a href="/" ><i class="fa fa-search"></i><span>Search</span></a>
  <!-- 예약리스트 페이지 -->
  <a href="/reservation/list" ><i class="fa fa-home"></i><span>Keepings</span></a>
  <!-- 마이페이지 -->
  <a href="/mypage" ><i class="fa fa-cog"></i><span>My Page</span></a>
  <!-- 채팅 -->
  <a href="/chat" ><i class="fas fa-comment-dots"></i></i><span>Chat</span></a>
  <div class="clear"></div>
</div>