<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>StickyMobile</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/styles/style.css">
<link rel="stylesheet" type="text/css" href="/styles/framework.css">
<link rel="stylesheet" type="text/css" href="/fonts/css/fontawesome-all.min.css">    
</head>
    
<body class="theme-light" data-background="none" data-highlight="blue2">
        
<div id="page">
        
    <div id="page-preloader">
        <div class="loader-main"><div class="preload-spinner border-highlight"></div></div>
    </div>
    
	<div class="header header-fixed header-logo-app">
        <a href="index.html" class="header-title">Sticky Mobile</a>
		<a href="#" class="back-button header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a>
		<a href="page-contact.html" class="header-icon header-icon-2"><i class="fas fa-envelope"></i></a>
		<a href="#" data-toggle-theme-switch class="header-icon header-icon-3"><i class="fas fa-moon"></i></a>
	</div>
        
    <div id="footer-menu" class="footer-menu-5-icons footer-menu-style-1">
        <a href="index.html"><i class="fa fa-home"></i><span>Home</span></a>
        <a href="index-components.html" class="active-nav"><i class="fa fa-star"></i><span>Features</span></a>
        <a href="index-pages.html"><i class="fa fa-heart"></i><span>Pages</span></a>
        <a href="index-search.html"><i class="fa fa-search"></i><span>Search</span></a>
        <a href="#" data-menu="menu-settings"><i class="fa fa-cog"></i><span>Settings</span></a>
        <div class="clear"></div>
    </div>
    
    <div class="snackbars snackbars-boxed snackbar-round"></div>
    
    <div class="page-content header-clear-medium">
        
        <div data-height="130" class="caption caption-margins round-medium shadow-huge">
            <div class="caption-center right-15 top-15 text-right">
                <a href="#" class="back-button button button-xs button-round-huge bg-highlight">Back Home</a>
            </div>
            <div class="caption-center left-15 text-left">
                <h1 class="color-white bolder">ACCOUNT PAY</h1>
                <p class="under-heading color-white opacity-90 bottom-0">
                    Classic & Mobile  Styled
                </p>
            </div>
            <div class="caption-overlay bg-black opacity-70"></div>
            <div class="caption-bg bg-18"></div>
        </div> 
        
        

        <div class="divider divider-margins"></div>
        
      
        <div class="content-boxed">
            <div class="content">           
                <h3 class="bolder">Do you have Account?</h3>
                <p>
                   if you have it, Check the your account.
                   Or You don't have it, click this button.
                </p>
                <a id="authBtn" class="button button-m shadow-small button-circle bg-green1-dark">Make a Account</a>
                <span id="result"></span>     
            </div>     
        </div>


        <div class="content-boxed">
            <div class="content">           
                <h3 class="bolder">My Account Info</h3>
                <input id="accessToken" type="text" placeholder="accessToken">
                <input  id="refreshToken" type="text" placeholder="refreshToken">
                <input id="userseqnum" type="text" placeholder="userseqnum">   
            </div>     
        </div>
        
        <a id="payBtn" class="button button-margins button-m button-full button-round-small shadow-medium bg-highlight bottom-30">Pay Now</a>
        
    </div>
    <!-- Page Content Class Ends Here-->

    <!--Menu Settings-->
    
    <!--Menu Settings Highlights-->
    
    <!-- Menu Settings Backgrounds-->
    
    <div class="menu-hider"></div>
</div>
<script type="text/javascript" src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/plugins.js"></script>
<script type="text/javascript" src="/scripts/custom.js"></script>

<script>
$('#authBtn').click(function(){
    // 변경해주세요. 
      var client_id = "l7xx95f2ecb17e274e1486240d91f16cadbe";
      var redirect_uri = "http://localhost:3000/callback";
      var scope = "login inquiry transfer";
      var response_type = "JSON";
      var qs = 
      "?response_type=code&"
      + "client_id=" + client_id + "&"
      + "redirect_uri=" + redirect_uri + "&"
      + "scope="+scope + "&"
      + "auth_type=0&"
      + "invoke_type=ajax"

      $.ajax({
        url:'https://testapi.open-platform.or.kr/oauth/2.0/authorize2'+ qs,
        type : 'GET',
        success:function(data){
            window.name ="parents";
            console.log(data.location);
            var tmpwindow = window.open("about:blank");
            tmpwindow.location = data.location;//추가
        }
      })
    });


    // payBtn click

    $("#payBtn").click(function(){
        var accessToken = $("#accessToken").val();
        var refreshToken =$("#refreshToken").val();
        var userseqnum = $("#userseqnum").val();

        $.ajax({
            url:'/account/transfer/withdraw',
            type : 'POST',
            data: {
                accessToken :accessToken,
                refreshToken : refreshToken,
                userseqnum : userseqnum
            },
            success:function(data){
              alert(data);
              //location.href = "/reservation/info/"+  
            }
        });
    });
</script>
</body>
