<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>StickyMobile</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link rel="stylesheet" type="text/css" href="styles/framework.css">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
<style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font: 13px Helvetica, Arial; }
    form { background: #000; padding: 3px; position: fixed; bottom: 0; margin-bottom:60px; z-index: 100; width: 100%; }
    form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
    form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
  </style>
</head>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="scripts/jquery.js"></script>
<script>
  $(function () {
    var socket = io();
    var i = 0;
    var toggle = "";

    $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      i++;
      if (i%2) toggle = "speech-right color-black";
      else  toggle = "speech-left bg-highlight";
      var chatText = '<div class="clear"></div><div class="speech-bubble ' + toggle + '">' + msg + '</div>';
      $('#messages').append(chatText);
      window.scrollTo(0, document.body.scrollHeight);
    });
  });
</script>    
<body class="theme-light" data-background="none" data-highlight="blue2">
  <div id="page">
    <% include ./inc/header.ejs %>
    <% include ./inc/footer.ejs %>
    <div class="page-content header-clear-medium">   
      <div id="messages" class="content bottom-0"></div>
      <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>
    </div>
    <!-- Page Content Class Ends Here-->
    <% include ./inc/menu.ejs %>
    <div class="menu-hider"></div>
  </div>

  <script type="text/javascript" src="scripts/plugins.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
</body>