<!DOCTYPE HTML>
<html lang="en">
<head>
  <% include ./inc/head.ejs %>
</head>
    
<body class="theme-light" data-background="none" data-highlight="blue2">
  <div id="page">
    <% include ./inc/header.ejs %>
    <% include ./inc/footer.ejs %>
    
    <div class="page-content header-clear-medium">
        <div data-height="130" class="caption caption-margins round-medium shadow-huge">
            <%# <div class="caption-center right-15 top-15 text-right">
                <a href="#" class="back-button button button-xs button-round-huge bg-highlight">Back Home</a>
            </div> %>
            <div class="caption-center left-15 text-left">
                <h1 class="color-white bolder">Pay by Ethereum</h1>
                <p class="under-heading color-white opacity-90 bottom-0">
                    
                </p>
            </div>
            <div class="caption-overlay bg-black opacity-70"></div>
            <div class="caption-bg bg-18"></div>
        </div> 
        <div class="content-boxed">
          <div class="content">
            <div class="input-style input-style-1 input-required">
              <span>From address</span>
              <input id="fromAddr" type="text" placeholder="from address" value="0x3bbb90ee2bbd6536aa9a79bc9ee235ac6801b373">
              <span>Password</span>
              <input id="passphase" type="password" placeholder="password" value="user1">
              <span>To address</span>
              <input id="toAddr" type="text" placeholder="to address" value="0x2fc0cb1146DCbeb12F2aff4EC663F3C8845bf836">
              <span>ether</span>
              <input id="ether" type="number" placeholder="Ether" value="<%= total_price %>">
              <input id="description" type="text" placeholder="description" value="<%= description %>">
            </div>
            <button id="transferBtn" type="button" class="right button button-full button-m shadow-large button-round-small bg-green1-dark top-10 bottom-0">Transfer</button>
          </div>
        </div>
        <div class="content-boxed">
          <div class="content">
            <h3 class="bolder">Ethereum private Network data</h3>
          
            <div class="input-style input-style-1 input-required">
              <span>message</span>
              <input id="message" type="text" placeholder="Message" value="<%= data %>">
            </div>
            <button id="submitBtn" type="button" class="right button button-full button-m shadow-large button-round-small bg-green1-dark top-10 bottom-0">Submit</button>
          </div>
        </div>
    </div>
    <!-- Page Content Class Ends Here-->
    <% include ./inc/menu.ejs %>
    <div class="menu-hider"></div>
  </div>

  <script type="text/javascript" src="/scripts/jquery.js"></script>
  <script type="text/javascript" src="/scripts/plugins.js"></script>
  <script type="text/javascript" src="/scripts/custom.js"></script>
  <script>
    $('#submitBtn').click(function(){
      var message = $('#message').val();
      $.ajax({
          url:'http://localhost:3000/contract/setmessage',
          type : 'POST',
          data:{msg : message},
          success:function(data){
            setTimeout(function() {
              alert("updated!")
              location.reload();
            }, 3000);
          }
      })
    });

    $('#transferBtn').click(function(){
      var ether = $('#ether').val();
      $.ajax({
          url:'http://localhost:3000/contract/sendTransaction',
          type : 'POST',
          data:{
            ether : ether,
            fromAddr : $('#fromAddr').val(),
            toAddr : $('#toAddr').val(),
            passphase : $('#passphase').val(),
          },
          success:function(data){
            setTimeout(function() {
              console.log("updated!")
              location.href = "/reservation/list";
            }, 3000);
          }
      })
    });

    var message = $('#description').val();
    $.ajax({
        url:'http://localhost:3000/contract/setmessage',
        type : 'POST',
        data:{msg : message},
        success:function(data){
          console.log("message");
        }
    })
  </script>
</body>
