<!DOCTYPE HTML>
<html lang="en">
<head>
<head>
    <% include ./inc/head.ejs %>
    <% include ./inc/header.ejs %>
    <% include ./inc/footer.ejs %>

    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
            
 <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 600px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

       /* 검색창 스타일 */
       #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 0;
        margin-right: 0;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: bg-highlight;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 0 0 0;
        text-overflow: ellipsis;
        width: 800px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      /* 여기까지 검색창 스타일 */
    </style>    
</head>
    
<body class="theme-light" data-background="none" data-highlight="blue2">
         <!-- 검색창--> 
        <div id="pac-container" class="search-box search-color bg-highlight shadow-tiny round-small top-60 bottom-10">
            <input id="pac-input" type="text" placeholder="Search here..">
        </div>

        <!-- Google map-->
        <div id="map"></div>

        <button id="whereami" type="button" class="button button-full button-m shadow-large button-round-small bg-green1-dark top-0 bottom-0">내 위치</button>
        </div>        

<script>

var myLat = 37.494978;
var myLng = 127.122406;
var map;
var myPosition;

// Initialize and add the map

function initMap() {
    
  // My location
  console.log("지도를 찍었습니다.") 
  var myLatLng = {lat: myLat, lng: myLng};

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 17,
    center: myLatLng
  });
  
  myPosition = new google.maps.Marker({
    position: myLatLng,
    map: map,
    icon: '/images/myMarker.png' 
  });
    setMarkers(map);
}

function setMarkers(map) {

  // var image = {
  //   url: '/images/luggage64.png',
  //   // This marker is 20 pixels wide by 32 pixels high.
  //   size: new google.maps.Size(64, 64),
  //   // The origin for this image is (0, 0).
  //   origin: new google.maps.Point(32, 32),
  //   // The anchor for this image is the base of the flagpole at (0, 32).
  //   anchor: new google.maps.Point(0, 0)
  // };

  // var shape = {
  //   coords: [1, 1, 1, 20, 18, 20, 18, 1],
  //   type: 'poly'
  // };
  
$.ajax({
            url:'http://localhost:3000/getMarker',
            type : 'GET',
            success:function(data){
                for (var i = 0; i < data.length; i++) {
                    let marker = new google.maps.Marker({
                        position: {lat: parseFloat(data[i].location_lat), lng: parseFloat(data[i].location_lon)},
                        map: map,
                        icon: '/images/luggage64.png',
                        //shape :shape,
                        contents : data[i].id
                    });
                    
                    var contentString = '<div id="iw-container">' +
                    '<div class="iw-title">'+data[i].name+'</div>' +
                    '<div class="iw-content">' +
                      '<div class="iw-subTitle">'+marker.position+'</div>' +
                      '<img src="http://maps.marnoto.com/en/5wayscustomizeinfowindow/images/vistalegre.jpg"'+
                      '<br>Address. '+data[i].address+
                      '<br>Phone. '+data[i].keeper_phone+'<br>e-mail:'+data[i].email+'<br>www: www.myvistaalegre.com</p>'+
                      '<a href="/keeper/store/'+data[i].id+'"><i class="Button"></i><span>결제</span></a>'+
                    '</div>' +
                    '<div class="iw-bottom-gradient"></div>' +
                  '</div>';                  

                    let infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });

                     google.maps.event.addListener(marker, 'click', function() {
                       infowindow.open(map, marker);
                     });

                     google.maps.event.addListener(map, 'click', function() {
                       infowindow.close();
                     });
                }
        }
    })
      
}

 $('#whereami').click(function(){
      console.log("클릭했음!");      
        // Geolocation API에 액세스할 수 있는지를 확인
        if (navigator.geolocation) {
            //위치 정보를 얻기
            navigator.geolocation.getCurrentPosition (function(pos) {
                $('#latitude').html(pos.coords.latitude);     // 위도
                $('#longitude').html(pos.coords.longitude); // 경도
                myLat = pos.coords.latitude;
                myLng = pos.coords.longitude;
                initialLocation = new google.maps.LatLng(myLat, myLng);
                map.panTo(initialLocation);
                myPosition.setPosition(initialLocation);

                
            });
        } else {
            alert("이 브라우저에서는 Geolocation이 지원되지 않습니다.")
        }
  });

</script>

<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhHkFo-bYv_U9iLedicra9em2FpndEJS0&libraries=places&callback=initMap">
</script>

<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/plugins.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>
<script type="text/javascript" src="scripts/autoSearch.js"></script>

</body>
