<!DOCTYPE HTML>
<html lang="en">
<head>
<head>
    <% include ./inc/head.ejs %>
    <% include ./inc/header.ejs %>
    <% include ./inc/footer.ejs %>

    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
            
 <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 660px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

       /* 검색창 스타일 */
       #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 0;
        margin-right: 0;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: bg-highlight;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 0 0 0;
        text-overflow: ellipsis;
        width: 800px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      
      /* 여기까지 검색창 스타일 */

/* infobox 스타일 */
#map-canvas {
	/* margin: 0;
	padding: 0; */
	height: 400px;
	max-width: none;
}
#map-canvas img {
	max-width: none !important;
}
.gm-style-iw {
	width: 350px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: rgba(178, 178, 178, 0.6);
	border: solid rgba(72, 181, 233, 0.6);
  border-radius: 2px 2px 10px 10px;
  padding : 0 !important;
}
#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	/* margin: 0; */
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 10px 1px 10px;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
/* infobox 스타일 */
    </style>    
</head>
    
<body class="theme-light" data-background="none" data-highlight="blue2">
         <!-- 검색창--> 
        <div id="pac-container" class="search-box search-color bg-highlight shadow-tiny round-small top-60 bottom-10">
            <input id="pac-input" type="text" placeholder="Search here..">
        </div>

        <!-- Google map-->
        <div id="map"></div>

        </div>        

<script>

var myLat = 37.494978;
var myLng = 127.122406;
var map;
var myPosition;

// Initialize and add the map

function initMap() {
  // My location
  console.log("지도를 찍었습니다.") 
  var myLatLng = {lat: myLat, lng: myLng};

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 17,
    center: myLatLng
  });
  
  myPosition = new google.maps.Marker({
    position: myLatLng,
    map: map,
    zIndex: 9999999,
    icon: '/images/myMarker.png' 
  });

  myPosition.addListener('click', toggleBounce);

  setMarkers(map);

  //컨트롤러
  var centerControlDiv = document.createElement('div');
  var centerControl = new CenterControl(centerControlDiv, map);

  centerControlDiv.index = 1;
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);
  //컨트롤러
}

function setMarkers(map) {

$.ajax({
            url:'http://localhost:3000/getMarker',
            type : 'GET',
            success:function(data){
                for (var i = 0; i < data.length; i++) {
                    let marker = new google.maps.Marker({
                        position: {lat: parseFloat(data[i].location_lat), lng: parseFloat(data[i].location_lon)},
                        map: map,
                        icon: '/images/luggage64.png',
                        contents : data[i].id,
                        animation: google.maps.Animation.DROP
                    });
                  
                    var contentString = '<div id="iw-container">' +
                    '<div class="iw-title">'+data[i].name+'</div>' +
                    '<div class="iw-content">' +
                      '<div class="iw-subTitle">정보</div>' +
                      '<img src="/images/profile128.png"'+
                      '<br>Address. '+data[i].address+
                      '<br>Phone. '+data[i].keeper_phone+'<br>e-mail:'+data[i].email+'<br>'+
                    '</div>' +
                    '<div class ="iw-content"><a href="/keeper/store/'+data[i].id+'" class="button button-m shadow-small button-round-small bg-blue2-dark">결제</a>' +
                    '<a href="/keeper/store/'+data[i].id+'" class="button button-m shadow-small button-round-small bg-blue2-dark">결제</a></div>' +
                  '</div>';                  
                  
                    let infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });

                     google.maps.event.addListener(marker, 'click', function() {
                       infowindow.open(map, marker);
                     });

                     google.maps.event.addListener(map, 'click', function() {
                       infowindow.close();
                     });
                }
        }
        
    })
      
}

  // 컨트롤러
      function CenterControl(controlDiv, map) {

        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '3px';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginTop = '10px';
        controlUI.style.marginBottom = '22px';
        controlUI.style.textAlign = 'center';
        controlUI.title = 'Click to recenter the map';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '18px';
        controlText.style.lineHeight = '38px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.innerHTML = '내 위치';
        controlUI.appendChild(controlText);

        // Setup the click event listeners: simply set the map to Chicago.
        controlUI.addEventListener('click', function() {
          if (navigator.geolocation) {
            //위치 정보를 얻기
            navigator.geolocation.getCurrentPosition (function(pos) {
                myLat = pos.coords.latitude;
                myLng = pos.coords.longitude;
                initialLocation = new google.maps.LatLng(myLat, myLng);
                map.panTo(initialLocation);
                myPosition.setPosition(initialLocation);       
            });
        } else {
            alert("이 브라우저에서는 Geolocation이 지원되지 않습니다.")
        }
      });

      }
//컨트롤러

//애니메이션
function toggleBounce() {
        if (myPosition.getAnimation() !== null) {
          myPosition.setAnimation(null);
        } else {
          myPosition.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
//애니메이션

</script>

<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhHkFo-bYv_U9iLedicra9em2FpndEJS0&libraries=places&callback=initMap">
</script>

<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/plugins.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>
<script type="text/javascript" src="scripts/autoSearch.js"></script>

</body>
