<!DOCTYPE HTML>
<html lang="en">

<head>
    <% include ./inc/head.ejs %>
</head>

<body class="theme-light" data-background="none" data-highlight="blue2">
    <div id="page">
        <% include ./inc/header.ejs %>
        <% include ./inc/footer.ejs %>
        <div class="page-content header-clear-medium">

            <link rel="stylesheet" type="text/css" href="styles/store.css">

            <div class="content-boxed content-boxed-full">
                <div class="store-slide-2">
                    <a href="#" class="store-slide-image">
                        <img class="preload-image" src="images/empty.png"
                            data-src="images/placeholders/Account.png" alt="img">
                    </a>
                    <div class="store-slide-title">
                        <strong>Account</strong>
                        <em class="color-gray2-dark"><div id="emailText">email</div></em>
                    </div>
                    <div class="store-slide-button" style="text-align: right">
                        <a href="#"><i class="fa color-highlight">Go to change</i><i
                                class="fa fa-arrow-right color-theme"></i></a>
                    </div>
                </div>
            </div>
            <div class="content-boxed content-boxed-full">
                <div class="store-slide-2">
                    <a href="#" class="store-slide-image">
                        <img class="preload-image" src="images/empty.png"
                            data-src="images/placeholders/Credit.png" alt="img">
                    </a>
                    <div class="store-slide-title">
                        <strong>Account authentication</strong>
                        <em class="color-gray2-dark">
                            You need to authenticate your account before you can use the service.</em>
                    </div>
                    <div class="store-slide-button" style="text-align: right">
                        <a id="authLink"><i class="fa color-highlight">Go to authenticate</i><i
                                class="fa fa-arrow-right color-theme"></i></a>
                    </div>
                </div>
            </div>
            <div class="content-boxed content-boxed-full">
                <div class="store-slide-2">
                    <a href="#" class="store-slide-image">
                        <img class="preload-image" src="images/empty.png"
                            data-src="images/placeholders/Locker.png" alt="img">
                    </a>
                    <div class="store-slide-title">
                        <strong>Register Keeper</strong>
                        <em class="color-gray2-dark">Register to provide locker.</em>
                    </div>
                    <div class="store-slide-button" style="text-align: right">
                        <a href="keeper/register_keeper"><i class="fa color-highlight">Go to register</i><i
                                class="fa fa-arrow-right color-theme"></i></a>
                    </div>
                </div>
            </div>
            <div class="content-boxed content-boxed-full">
                <div class="store-slide-2">
                    <a href="#" class="store-slide-image">
                        <img class="preload-image" src="images/empty.png"
                            data-src="images/placeholders/Locker.png" alt="img">
                    </a>
                    <div class="store-slide-title">
                        <strong>Keeper-only Management Page</strong>
                        <em class="color-gray2-dark">Registered keeper list.</em>
                    </div>
                    <div class="store-slide-button" style="text-align: right">
                        <a href="keeper/list"><i class="fa color-highlight">Go to check.</i><i
                                class="fa fa-arrow-right color-theme"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Content Class Ends Here-->
        <% include ./inc/menu.ejs %>
        <div class="menu-hider"></div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/plugins.js"></script>
    <script type="text/javascript" src="/scripts/custom.js"></script>     
    <script type="text/javascript" src="/scripts/common.js"></script>      
</body>
<script>
    $('#authLink').click(function () {
        var client_id = "l7xx9a2f243e6f774376aaedf18a9f4e29e3";
        var redirect_uri = "http://localhost:3000/auth/callback";
        var scope = "login inquiry transfer";
        var response_type = "JSON";
        var qs =
            "?response_type=code&"
            + "client_id=" + client_id + "&"
            + "redirect_uri=" + redirect_uri + "&"
            + "scope=" + scope + "&"
            + "auth_type=0&"
            + "invoke_type=ajax"
        $.ajax({
            url: 'https://testapi.open-platform.or.kr/oauth/2.0/authorize2' + qs,
            type: 'GET',
            success: function (data) {
                window.name = "parents";
                console.log(data.location);
                var tmpwindow = window.open("about:blank");
                tmpwindow.location = data.location;//추가
            }
        })
    })
</script>