<!DOCTYPE HTML>
<html lang="en">
  <head>
    <% include ./inc/head.ejs %>
  </head>
        
  <body class="theme-light" data-background="none" data-highlight="blue2">
    <div id="page">
      <% include ./inc/header.ejs %>
      <% include ./inc/footer.ejs %>

      <div class="page-content">   
      
      <div data-height="cover-header" class="caption bottom-0">
        <div class="caption-center">
          <div class="content-boxed left-40 right-40">
            <div class="content top-10 bottom-20">
              <h1 class="center-text uppercase ultrabold fa-3x">Register</h1>
              <p class="center-text color-highlight font-11 under-heading bottom-30">
                  Don't have an account? Register here.
              </p>
              <div class="input-style has-icon input-style-1 input-required">
                  <i class="input-icon fa fa-user font-11"></i>
                  <span>Username</span>
                  <em>(required)</em>
                  <input type="name" id="name" placeholder="Username">
              </div> 
              <div class="input-style has-icon input-style-1 input-required">
                  <i class="input-icon fa fa-at"></i>
                  <span>Email</span>
                  <em>(required)</em>
                  <input type="email" id="email" placeholder="Email">
              </div>         
              <div class="input-style has-icon input-style-1 input-required">
                  <i class="input-icon fa fa-lock font-11"></i>
                  <span>Password</span>
                  <em>(required)</em>
                  <input type="password" id="password" placeholder="Choose a Password">
              </div>          
              <div class="input-style has-icon input-style-1 input-required">
                  <i class="input-icon fa fa-lock font-11"></i>
                  <span>Password</span>
                  <em>(required)</em>
                  <input type="password" id="confirm_password" placeholder="Confirm your Password">
              </div>
              
              <div><button id="authBtn" type="button" class="button button-full button-m shadow-large button-round-small bg-green1-dark top-0 bottom-0">계좌 인증</button></div>
              <div class="input-style has-icon input-style-1 input-required">
                  <i class="input-icon fa fa-lock font-11"></i>
                  <span>Access Token</span>
                  <em>(required)</em>
                  <input id="accessToken" type="text" placeholder="accessToken" disabled>
              </div>   
              <div class="input-style has-icon input-style-1 input-required">
                  <i class="input-icon fa fa-lock font-11"></i>
                  <span>Refresh Token</span>
                  <em>(required)</em>
                  <input  id="refreshToken" type="text" placeholder="refreshToken" disabled>
              </div>   
              <div class="input-style has-icon input-style-1 input-required">
                  <i class="input-icon fa fa-lock font-11"></i>
                  <span>finusernum</span>
                  <em>(required)</em>
                  <input id="userseqnum" type="text" placeholder="userseqnum" >
              </div>   

              <div class="top-20 bottom-20">
                  <a href="#" data-menu="menu-signin" class="center-text font-11 color-gray2-dark">Already Registered? Sign In Here.</a>
              </div>
              <div class="clear"></div>
              <button id="joinBtn" class="button button-full button-m shadow-large button-round-small bg-green1-dark top-10 bottom-0">회원가입</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Content Class Ends Here-->
    <% include ./inc/menu.ejs %>
    <div class="menu-hider"></div>
  </div>

  <script type="text/javascript" src="/scripts/jquery.js"></script>
  <script type="text/javascript" src="/scripts/plugins.js"></script>
  <script type="text/javascript" src="/scripts/custom.js"></script>
  <script type="text/javascript" src="/scripts/common.js"></script>
  <script>
    var config = require('../config/config');
    $('#authBtn').click(function(){
      var client_id = config.client_id;
      var redirect_uri = config.redirect_uri;
      var scope = "login inquiry transfer";
      var response_type = "JSON";
      var qs = 
      "?response_type=code&"
      + "client_id=" + client_id + "&"
      + "redirect_uri=" + redirect_uri + "&"
      + "scope="+scope + "&"
      + "auth_type=0&"
      + "invoke_type=ajax"

      $.ajax({
        url:'https://testapi.open-platform.or.kr/oauth/2.0/authorize2'+ qs,
        type : 'GET',
        success:function(data){
            window.name ="parents";
            console.log(data.location);
            var tmpwindow = window.open("about:blank");
            tmpwindow.location = data.location;//추가
        }
      })
    });

    $("#joinBtn").click(function(){
      var name = $("#name").val();
      var email = $("#email").val();
      var password = $("#password").val();
      var accessToken = $("#accessToken").val();
      var refreshToken = $("#refreshToken").val();
      var userseqnum = $("#userseqnum").val();

      $.ajax({
        url:'http://localhost:3000/user/join',
        type : 'POST',
        data : { 
            name: name,
            email: email,
            password: password,
            accessToken: accessToken,
            refreshToken: refreshToken,
            userseqnum: userseqnum
        },
        success:function(data){
            alert(data);
        }
      })
    });
  </script>
    
</body>

